h3 
{
    text-align: center;
    color:white;
    padding-bottom:27px
}
.d-flex
{
    font-size: 24px;
}
.notebook 
{
     background-image: url("../full_res_notebook_paper.PNG");
     background-color: #cccccc;
     background-attachment: fixed;
}
 
.credents{
    background-image: url("../full_res_notebook_paper.PNG");
    background-color: #cccccc;
    background-attachment: fixed;
    padding-top: 100px;
}     
.jumbotron
{
    background-color: darkslategray;
}
.jumbotron-text
{
    color:white;
    text-align:center;
}

.sticky-top{
    position: sticky;
    top=0;
    z-index:1020;
    padding-top:40px
}

.navbar-brand {
    padding-left: 450px;
}

.navbar {
    --bs-navbar-padding-y: 50px;
    --bs-navbar-brand-font-size: 1.7rem;
}
.py-5 {
    padding-left: 270px;
}